<%- include('partials/header') %>

<section class="hero">
  <div class="hero-content">
    <h1>Witaj na mojej stronie portfolio!</h1>
    <p>Jestem ambitnym programistą i studentem informatyki </p>
    <a href="/portfolio" class="btn">Zobacz moje prace</a>
  </div>
</section>

<section class="about">
  <h2>O mnie</h2>
  <div class="about-content">
    <div class="about-image">
      <img src="/images/zdjecie1.jpg" alt="Moje zdjęcie">
    </div>
    <div class="about-text">
      <p>Witaj! Mam na imię Mikołaj Olesiński i jestem sudentem informatyki stosowanej.</p>
      <p>Specjalizuję się w projektowaniu stron internetowych, tworzeniu aplikacji webowych oraz optymalizacji istniejących rozwiązań.</p>
      <p>Moje podejście do projektowania opiera się na prostocie, intuicyjności i doskonałym doświadczeniu użytkownika.</p>
      <a href="/kontakt" class="btn">Skontaktuj się ze mną</a>
    </div>
  </div>
</section>

<section class="services">
  <h2>Moje umiejętności</h2>
  <div class="services-grid">
    <div class="service-card">
      <h3>Analiza danych</h3>
      <p>Przetwarzanie, eksploracja i wizualizacja danych przy użyciu Pythona i bibliotek ML.</p>
    </div>
    <div class="service-card">
      <h3>Tworzenie aplikacji webowych</h3>
      <p>Projektowanie i rozwój nowoczesnych aplikacji internetowych.</p>
    </div>
    <div class="service-card">
      <h3>Programowanie w C++ i Java</h3>
      <p>Tworzenie aplikacji i implementacja algorytmów w językach obiektowych.</p>
    </div>
  </div>
  <div class="cta">
    <a href="/oferta" class="btn">Zobacz pełną ofertę</a>
  </div>
</section>

<%- include('partials/footer') %>